body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media print {
    body > nav {
        display: none;
    }

    section {
        flex-direction: column;
        margin: 2.5rem !important;
    }

    li {
        text-decoration: underline;
    }

    .experience-item {
        margin-top: 1.5rem !important;
    }

    .page-break { 
        page-break-before: always; 
    }
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

p {
    margin: 0 0 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 1rem;
}

body > header {
    margin: 2rem 0 0 20rem;
    min-width: 40rem;
    max-width: 60rem;
}

body > nav {
    margin: 2rem;
}

.button-link {
    padding: 1rem;
    border: 1px solid;
    border-radius: 2rem
}

.button-link:hover {
    text-decoration: none;
    background: #2980b9;
    color: #ffffff;
}

.contact-item {
    margin: 0.5rem 0;
}

i {
    margin-right: 0.5rem;
    color: #2980b9
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
}

section h2 {
    width: 20rem;
}

section div {
    flex: 1;
    max-width: 40rem;
    min-width: 20rem;
}

.experience-item:first-child {
    margin-top: 0;
}

.experience-item {
    margin-top: 5rem;
}

.experience-item header {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.experience-item header .title-and-company {
    flex: 1;
    font-weight: 600;
}

.experience-item header time {
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
    background: rgba(41, 128, 185, .15);
    padding: 0 5px;
}

